/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

.preload {
    /* -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important; */
    display: none;
}

.dark {
    background-color: black;
    color: white;
}


/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fade-in 0.5s ease-in-out;
    padding: 25px 80px;
}

nav h1 {
    width: 300px;
    font-size: 1.3rem;
    font-weight: 600;
}

.btn-container {
    display: flex;
    width: 300px;
    background-color: #ddd;
    border-radius: 12px;
    position: relative;
    padding: 2px;
}

.btn-container>button {
    width: 100%;
    border-radius: 12px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.25s ease;
    z-index: 1;
    background-color: transparent;
}

.btn-container .bg-wrap {
    background: #303030;
    border-radius: 12px;
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, .08);
    height: calc(100% - 5px);
    width: calc(50% - 1px);
    left: 3px;
    position: absolute;
    z-index: 0;
    top: 2.5px;
    transition: all .25s ease-in-out;
}

.dark .btn-container {
    background-color: #303030;
}

.dark .btn-container .bg-wrap {
    background: #fff;
    left: calc(50% - 3px);
}

.btn1 {
    color: white;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: space-between;
}

nav ul li {
    cursor: pointer;
}

/* Hero Section */
.hero-section {
    margin: 80px;
}

.line {
    font-size: 3rem;
    line-height: 1.3em;
    font-weight: 500;
}

.info {
    font-size: 18px;
    margin-top: 10px;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 80px;
    margin-left: auto;
}

.social a {
    text-decoration: none;
}

.social a * {
    height: 25px;
}

.dark .social a {
    filter: invert(1);
}

/* About Section */
.about {
    display: flex;
    margin: 60px 80px;
    background-color: black;
    border-radius: 20px;
    padding: 70px 50px;
    color: white;
    gap: 150px;
}

.dark .about {
    background-color: white;
    color: black;
}

.about * {
    width: 100%;
}

.about .left-container h1 {
    font-size: 48px;
    font-weight: 500;
    width: 330px;
}

.about .left-container p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    line-height: 1.3em;
}

.about .left-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    width: 180px;
    padding: 10px;
}

.dark .about .left-container button {
    border: 2px solid black;
    color: black;
}

.about .left-container button * {
    width: fit-content;
    height: fit-content;
}

.quote {
    margin: 80px;
}

.quote hr {
    margin-bottom: 40px;
}

.quote h1 {
    font-size: 1.8rem;
    margin-bottom: 25px;
    font-weight: 600;
}

.quote blockquote {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.3;
}

.quote .author {
    margin-top: 15px;
    font-size: 1.2rem;
}

.line {
    overflow: hidden;
}

.line p {
    transform: translateY(100%);
    animation: move-up 0.25s ease-in-out forwards;
}

.hero-section .line:nth-child(1) p {
    animation-delay: 0.1s;
}

.hero-section .line:nth-child(2) p {
    animation-delay: 0.35s;
}

.hero-section .line:nth-child(3) p {
    animation-delay: 0.5s;
}

.info {
    opacity: 0;
    transform: translateY(200%);
    animation: fade-up 0.25s ease-in-out forwards;
    animation-delay: 0.6s;
}

.social {
    opacity: 0;
    transform: translateY(200%);
    animation: fade-up 0.25s ease-in-out forwards;
    animation-delay: 0.6s;
}

@keyframes fade-up {

    0% {
        opacity: 0;
        transform: translateY(200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}


@keyframes move-up {

    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }

}


@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.fadeup {
    transform: translateY(50px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.in-view.fadeup {
    transform: none;
    opacity: 1;
}